<div class="navbar navbar-default">
  <%= form_for @comment, remote: true do |f| %>
    <div class="form-group">
      <%= f.text_area :body, rows: 1,style: "width:50%;padding:5px;",  required: true, maxlength: 2000 %><%= f.submit 'Post', class: 'btn btn-primary btn-lg' %>
    </div>


  <% end %>
</div>