<nav class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="navbar-text navbar-left">
          <button type="submit" onclick="javascript:window.history.back(); " class="btn btn-default">返回</button>
        </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</nav>
